.Info {
  position: relative;
}

.Info__Header {
  height: 50px;
  position: relative;
  width: 300px;
  margin-top: 25px;
  align-self: center;
}

.Info__Header > h2 {
  position: relative;
  color: #0b2589;
  font-family: unset;
  font-weight: 500;
  font-size: 30px;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}

.Info__Contents {
  position: relative;
  float: left;
}

.Info__Contents > img {
  position: relative;
  max-width: 155px;
  max-height: 155px;
  border-radius: 75px;
  float: left;
  margin-left: 50px;
}

.Info__Contents > p {
  position: relative;
  text-align: justify;
  font-size: 25px;
  font-family: "Open Sans";
  line-height: 2;
  margin-left: 240px;
  margin-top: 10px;
  color: #484848;
  width: 65%;
}
