.Navbar {
  background-color: #008cff;
  height: 65px;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.Navbar__Buttons {
  display: flex;
  padding-top: 12px;
  justify-content: space-evenly;
  position: relative;
}

.Navbar__Buttons > Button {
  margin-left: 0px;
  margin-right: 0px;
  color: whitesmoke;
}

.Navbar__Link {
  width: 80px;
  text-decoration: none;
  position: relative;
}

.Navbar__Link > Button {
  margin-left: 0px;
  margin-right: 0px;
  color: whitesmoke;
}
